body{
    color: rgb(7, 5, 5);
    background-color: rgb(52, 98, 136);
    }
    
    section{
    background: rgb(146, 214, 223);
    padding-bottom: 5px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }
    
    .chamada-texto{
    margin-right: 5%;
    }
    img{
    height: 200px;
    }
    .categorias_videos{
    display: flex;
    overflow: auto;
    gap: 15 px;
    }