body{
    color: rgb(236, 145, 145);
    background-color: rgb(243, 238, 243);
    }
    
    section{
    background: rgb(146, 146, 223);
    padding-bottom: 5px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }
    
    .chamada-texto{
    margin-right: 5%;
    }
    img{
    height: 200px;
    }
    .categorias_videos{
    display: flex;
    overflow: auto;
    gap: 15 px;
    }